#portfolio{ width: 1280px; margin: 0 auto;}
.swiper{ height: 55vh;}
.boot{
    background:url('../img/pofol_01.jpg') no-repeat center;
    background-size: contain;
    color:white;
    background-color: black;
}
.gnu{
    background:url('../img/new_01.jpg') no-repeat center;
    background-size: contain;
    color:white;
}
.ec{
    background:url('../img/cafe24ec.JPG') no-repeat center;
    background-size: contain;
    color:white;
}
.design{
    background:url('../img/view.JPG') no-repeat center;
    background-size: contain;
    color:white;
    background-color: rgba(0, 0, 0, .4);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active{ border-radius: 50px; width: 1.2em; height: 7px; margin: 0 0.8rem !important;}
.swiper-pagination-bullet{ background-color: white; opacity: .8;}
.swiper-pagination-bullet-active{ background-color: #222; opacity: .9;}