#swiperbanner{ width: 1280px; margin: 0 auto;}
.swiper{ height: 450px;}
.boot{
    background:url('../img/pofol_01.jpg') no-repeat center;
    background-size: cover;
    color:white;
}
.boot::before{
    content: "";
    background-color: black;
    opacity: 0.65;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
}
.gnu{
    background:url('../img/new_01.jpg') no-repeat center;
    background-size: cover;
    color:white;
}
.gnu::before{
    content: "";
    background-color: black;
    opacity: 0.75;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
}
.ec{
    background:url('../img/cafe24ec.JPG') no-repeat center;
    background-size: cover;
    color:white;
}
.ec::before{
    content: "";
    background-color: black;
    opacity: 0.75;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
}
.design{
    background:url('../img/view.JPG') no-repeat center;
    background-size: cover;
    color:white;
}
.design::before{
    content: "";
    background-color: black;
    opacity: 0.75;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
}
p{ font-size: 1.3rem;}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active{ border-radius: 50px; width: 1.5em; height: 8px; margin: 0 0.8rem !important;}
.swiper-pagination-bullet{ background-color: white; opacity: .8;}
.swiper-pagination-bullet-active{ background-color: #8f9092;}